<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>test</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://mindhealer.000webhostapp.com/Research/story.css">
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css" />
    <script type="text/javascript" src="https://mindhealer.000webhostapp.com/Research/story.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <div id="pad">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://mindhealer.tk/"> Home</a></li>
                        <li><a href="https://mindhealer.000webhostapp.com/Photo/Gallery.html"> Gallery</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="content3">
        <nav class="navbar1 navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">&#169; 2018 copyright Mind Healer. All Rights Reserved</a>
                </div>
            </div>
        </nav>
    </div>
    
  
        
<div class id="talking_man">
    <img src="https://mindhealer.000webhostapp.com/img/new_man.gif" width="350" height="350">
    <input type="text"/>
 
    </div>

    <div class id="talking_woman">
        <img src="https://mindhealer.000webhostapp.com/img/woman.gif" width="300" height="300">
        <input type="text"/>
        <input type="button" id="a" value="Send" />
    </div>


    <!--<img src="../img/think1.gif" id="imgDemo" alt="HTML5 Icon" width="200" height="200">-->

    <div class id="bigblock">
        <!--Text mirroring , empty field  and chat bubbles changing according reply-->
        <input id="output1" type="text" class="mirror" name="firstname" placeholder="Enter your reply here..">
        <button class="click" onclick="javascript:eraseText(),nxt();" id="btnOne"> Chat</button>
        <img id="empty" src="https://mindhealer.000webhostapp.com/img/empty.png" width="240" height="240">
<textarea id="output" class="mirror" data-autoresize rows="6"></textarea>
   
    </div>

    <script>
    function showdiv() {
        document.getElementById('bigblock').style.display = "block";
    }
    </script>

    <script>
function eraseText() {
document.getElementById("output").value = "";
    document.getElementById("output1").value = "";
}
    </script>

    <script>
jQuery.each(jQuery('textarea[data-autoresize]'), function() {
var offset = this.offsetHeight - this.clientHeight;

var resizeTextarea = function(el) {
jQuery(el).css('height', 'auto').css('height', el.scrollHeight + offset);
};
jQuery(this).on('keyup input', function() { resizeTextarea(this); }).removeAttr('data-autoresize');
});
    </script>

    <script>
    $('.mirror').on('keyup', function() {
        $('.'+$(this).attr('class')).val($(this).val());
    });
    </script>


    Start program simultaneously
    <div id="image_holder" style="display:none">
        <img id="chat1" src="https://mindhealer.000webhostapp.com/img/chat1.png" width="200" height="200">
    </div>

    <input onclick="this.value='Close Curtain'" type="button" value="Open Curtain" id="myButton1" />
    <input type="button" class="button" value="Let's Start" onclick="show_image(),this.value='Restart',setTimeout(myFunction, 5000);">
    <audio id="audio" src="audio/audio1.ogg"></audio>


    -------------------Yes/No modal-----------------------------------
    <dialog id="myDialog">
        <img src="https://mindhealer.000webhostapp.com/img/logo.png" id="logo" width="50" height="50">Would you like to answer my questions?
        <button id="myBtn" onclick="nextStep(),showdiv()">Yes</button>
        <button id="no" onclick="closeDialog()">No</button>
    </dialog>

    <script>
    function myFunction() {
        document.getElementById("myDialog").showModal();
    }
    </script>
    <script>
    var x = document.getElementById("myDialog");

    function nextStep() {
        x.close();
    }

    function closeDialog() {
        x.close();
    }
    </script>



    <script>

    var img = new Array("https://mindhealer.000webhostapp.com/img/chat5.png","https://mindhealer.000webhostapp.com/img/chat2.png ",
	"https://mindhealer.000webhostapp.com/img/chat3.png","https://mindhealer.000webhostapp.com/img/chat4.png",
	"https://mindhealer.000webhostapp.com/img/1.png","https://mindhealer.000webhostapp.com/img/2.png");

    var imgElement = document.getElementById("imgDemo");
    var i = 0;
    var imgLen = img.length;

    function nxt()
    {
        if(i < imgLen-1)
        {
            i++;
        }
        else{
            i=0;
        }

        imgElement.src = img[i];

    }

    </script>

</body>
</html>