
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>AI Consulting</title>
    
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.common.min.css"/>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.rtl.min.css"/>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.silver.min.css"/>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.mobile.all.min.css"/>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.2.620/js/kendo.all.min.js"></script>

    <link href="https://getbootstrap.com/docs/3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <script src="https://getbootstrap.com/docs/3.3/assets/js/ie-emulation-modes-warning.js"></script>
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">Dashboard</a></li>
                <li role="presentation"><a href="#" id="createnewsession">Create New Exam</a></li>
                <li role="presentation"><a href="../images/game.rar" id="createnewsession">Download Game</a></li>
                <li role="presentation"><a href="#" id="logout">Logout</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">AI Consulting</h3>
    </div>
    <div class="row marketing">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Graph</a></li>
            <li><a data-toggle="tab" href="#menu1">Result</a></li>
            <li><a data-toggle="tab" href="#menu2">Forcasting</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="col-lg-12">
                    <div id="chart2"></div>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="col-lg-12">
                    <img src="../images/chatbot_rating.PNG"/>
                    <div id="placeholder">
                        <b>Your Sessions</b>
                        <input id="sessions" placeholder="Select session..." style="width: 100%;"/>
                        <div id="grid" style="width: 1700px"></div>
                        
                        <h2>Game Result</h2>
                        <div id="gridGameResult" style="width: 600px"></div>
                        
                        <h2>Other Symptoms</h2>
                        <div id="gridSymptoms" style="width: 600px"></div>
                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <div class="col-lg-12">
                    <br/>
                    <input id="cmbStessType"/>
                    <div class="btn-group" role="group" aria-label="...">
                        <br/>
                        <button type="button" id="naive" class="btn btn-default">Naive</button>
                        <button type="button" id="sma" class="btn btn-default">SMA</button>
                        <button type="button" id="wma" class="btn btn-default">WMA</button>
                        <button type="button" id="es" class="btn btn-default">ES</button>
                        <button type="button" id="ars" class="btn btn-default">ARS</button>
                        <br/>
                        <h1 id="type"></h1>
                        <br/>
                        <table class="table table-condensed" width="50%">
                            <tr class="danger">
                                <td>MSD</td>
                                <td><label id="msd">0</label></td>
                            </tr>
                            <tr class="info">
                                <td>MAD</td>
                                <td>
                                    <label id="mad">0</label>
                                </td>
                            </tr>
                            <tr class="danger">
                                <td>MPE</td>
                                <td><label id="mpe">0</label></td>
                            </tr>
                            <tr class="info">
                                <td>MAPE</td>
                                <td><label id="mape">0</label></td>
                            </tr>
                            <tr class="danger">
                                <td>TS</td>
                                <td><label id="ts">0</label></td>
                            </tr>
                            <tr class="info">
                                <td>MSE</td>
                                <td><label id="mse">0</label></td>
                            </tr>
                        </table>
                        <div id="grid2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>sliit 4th year project</p>
    </footer>

</div> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="../js/session.js"></script>
<script src="../js/stasis.js"></script>
</body>
</html>
